.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #648cfa;
    border-radius: 0.75rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 1.25rem;
    

}

.case{
    border: 1px solid #fff;
    height: 6em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #1c1b29;
}



@media screen and (min-width: 900px) {
    .case {

        min-height: 4em;
        min-width: 3em;
    }
}







.logoCalendar
{
    right: 0%;
    margin: 0;
}

.week-days
{
 background-color:black;
  color: #fff;

}


.iconCalendar{
    right: 0;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.iconCalendar2{
    right: 0;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10rem;
}



.jourj
{
    background-color:#2e486e;
    transition: ease-in 0.2s;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.jourj:hover
{
    background-color: #8687df;

    cursor: pointer;
    font-size: 1.25rem;
    color: black;

}

.dayNextMonth
{
    background-color: rgb(171, 171, 168);
    transition: ease-in 0.2s;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(255, 255, 255);


}
.dayNextMonth:hover
{
    background-color: rgb(123, 123, 120);
    color: black;
    cursor: pointer;

}

.monthNow
{
    background-color: #A29694;
    transition: ease-in 0.2s;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    text-decoration: none;


    
}
.monthNow:hover
{
    background-color: rgb(255, 255, 255);

    
    color: rgb(0, 0, 0);

    cursor: pointer;
    
}

.courseCaseCalendar
{
    right: 0;
    font-size: 0.6em;
}


.specialDaysEvents 
{
    background-color: #5E6371;
    color: #fff;
}
.specialDaysEvents:hover 
{
    background-color: #8b8f9b;
    cursor: pointer;
}


.legendCalendar
{
    margin-bottom: 10rem;
}
