@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,200;0,600;0,700;1,500;1,600&display=swap');

*{font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.bglogin{
background: rgba(0, 0, 0, 0.2)  url("../img/login.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: darken;
}
.bglogin2{
background: rgba(0, 0, 0, 0.2)  url("../img/imglogin.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: darken;
}
.bglogin3{
background: rgba(0, 0, 0, 0.2)  url("../img/secondcard.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: darken;
}




.formulaire{
    margin-top: 3rem;
    position: relative;
    margin-bottom: 10rem;
}

.formulaire2{
    margin-top: 7rem;
    position: relative;
    margin-bottom: 7rem;
    padding: 0;
}
.formulaire3{
    margin-top: 7rem;
    position: relative;
    margin-bottom: 7rem;
    padding: 0;
    width: 80%;
}


.titleNameLogin{
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 600;

}
.titleNameLogin2{
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 600;

}


.titleLogin{
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    content: '';
    padding: 0;
    margin: 0 ;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.titleLogin{
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    content: '';
    padding: 0;
    margin: 0 ;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}


hr{
    padding: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #4070f4;
}

label{
  
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
   
    
}


.input2{
    margin-bottom: 1rem;
}


.forgotPw{
    position: relative;
    right: 12%;
    font-size: 0.75rem;
    
}


.textLoginBottom
{
    margin-top: 2rem;
    font-size: 0.95rem;
}

.linkBottom{
    text-decoration: none;
}

.inputfield
{
    text-align: center;
    margin-top: 0rem;
    position: relative;
    height: 3rem;
    width: 80%;
    border-radius: 0.5rem;
    padding: 0;
    margin-left: 2.5rem;
}

.inputfield2
{
    text-align: center;
    margin-top: 0rem;
    position: relative;
    height: 3rem;
    width: 80%;
    border-radius: 0.5rem;
    padding: 0 2.5rem;
    margin-left: 2.5rem;
  
    
}
.inputfield3
{
    text-align: center;
    margin-top: 0rem;
    position: relative;
    height: 3rem;
    width: 60%;
    border-radius: 0.5rem;
    padding: 0 2.5rem;
    
  
    
}



@media screen and (max-width: 600px) {
    .inputfield {
     margin: 0 0 auto;
    }
}
@media screen and (max-width: 600px) {
    .inputfield2 {
     margin: 0 0 auto;
    }
}




i{
   color: #999;
    margin: 0 1rem;
    padding: 0;
    position: relative;
    top: 0%;
    right: 80%;
    transform: translateY(-4%);
}


.text{
    display: flex;
    justify-content: flex-end;
    text-align: end;
    text-decoration: none;
}

.text:hover{
    color: rgb(255, 7, 110);

}
.btn-login{
    letter-spacing: 1px;
    border: none;
    background-color: #4070f4;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor:pointer;
    height: 2.7rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-login:hover{
    background-color: rgb(255, 7, 110);

}



.imgPreview{
    height: 20rem;
    width: auto;
}